<body>
  <div class="container-sub pb-2">
    <h4 class="text-center text-dark pt-3">投稿一覧</h4>

      <div>
      <table>
        <tr>
          <th class="text-dark text-center font-size-5"></th>
          <th class="text-dark text-center font-size-5"></th>
          <th colspan="1"></th>
        </tr>


      <% @articles.each do |article| %>
        <div>
          <tr class="border text-dark bg-white">
            <td>
              <%= link_to("users/#{article.user.id}") do %>

               <div class="display-block text-center mx-1">
                  <img src = "<%= "/#{article.user.image_name}" %>" class="user-image my-1">
                  <p><%= article.user.name%></p>
               </div>
               <% end %>
            </td>
            <td class="border-right w-75 pr-3">
                <p class="font-weight-bold mt-3"><%= link_to article.title, article_path(article) %></p>
                <p><%= article.text %></p>
                <p class="text-right mr-2"><%= time_ago_in_words(article.created_at) %> ago (<%= article.created_at.strftime('%Y/%m/%d %H:%M') %>)</p>
                <span class="float-right mb-3 mr-1">
                    <% if article.user == @current_user %>
                      <%= link_to '編集', edit_article_path(article), class: "btn btn-warning btn-sm text-right" %>
                      <%= link_to '削除', article_path(article),
                        method: :delete, data: { confirm: '本当に削除しますか?' } , class: "btn btn-secondary btn-sm  text-right"%>
                    <% end %>

                    <!-- コメントの数 -->
                     <span>
                      <i class="far fa-comments">(1)</i>
                     </span>

                    <!-- いいね機能のview -->
                      <span class="display-box py-2 px-1 text-center">
                          <% if Like.find_by(user_id: @current_user.id, article_id: article.id) %>
                            <%= link_to("/likes/#{article.id}/destroy", method: :delete, remote: true) do %>
                              <i class="fas fa-heart liked-icon"  id="like-button<%= article.id %>"></i>
                            <% end %>
                          <% else %>
                            <%= link_to("/likes/#{article.id}/create", method: :post, remote: true) do %>
                              <span class="far fa-heart like-icon" id="like-button<%= article.id %>"></span>
                            <% end %>
                          <% end %>

                        (<span id="like-count<%= article.id %>"><%= Like.where(article_id: article.id).count %></span>)
                     </span>
                     <!-- ここまでいいね機能 -->


                </span>
            </td>
          </tr>
        </div>
      <% end %>
      </table>
    </div>
  </div>
</body>
