<body>
  <div class="container-sub">
    <h1 class="text-center text-dark pt-3">投稿一覧</h1>

      <table class="m-3">
        <tr>
          <th class="text-dark text-center font-size-5">User Name</th>
          <th class="text-dark text-center font-size-5">Title</th>
          <th class="text-dark text-center">Body</th>
          <th colspan="3"></th>
        </tr>


      <% @articles.each do |article| %>
        <div>
          <tr class="border text-dark bg-light">
            <td class="border-right w-25">
                  <img src = "<%= "/#{article.user.image_name}" %>" class="user-image mx-2 my-1"><%= article.user.name%>
              </td>
            <td class="border-right"><%= link_to article.title, article_path(article) %></td>
            <td class="border-right w-50">
                <p><%= time_ago_in_words(article.created_at) %> ago (<%= article.created_at.strftime('%Y/%m/%d %H:%M') %>)</p>
                <p><%= article.text %></p>
                <span class="float-right mb-1 mr-1">
                    <% if article.user == @current_user %>
                      <%= link_to '編集', edit_article_path(article), class: "btn btn-warning btn-sm text-right" %>
                      <%= link_to '削除', article_path(article),
                        method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-secondary btn-sm  text-right"%>
                    <% end %>
                </span>
            </td>
            <td class="border-right">
                  <% if Like.find_by(user_id: @current_user.id, article_id: article.id) %>
                    <%= link_to("/likes/#{article.id}/destroy", {method: "post"}) do %>
                      <i class="fas fa-heart liked-icon"></i>
                    <% end %>
                  <% else %>
                    <%= link_to("/likes/#{article.id}/create", {method: "post"}) do %>
                      <span class="far fa-heart like-icon"></span>
                    <% end %>
                  <% end %>
                  (<%= Like.where(article_id: article.id).count %>)
            </td>
          </tr>
        </div>
      <% end %>
      </table>
  </div>
</body>
