<div class="container-sub">
	<h2 class="text-center text-dark pt-3"><%= @article.created_at.strftime('%Y年%m月%d日 %H:%M') %>の投稿</h2>

		<p class="bg-light border mx-5">
		  <strong>タイトル:</strong>
		  「<%= @article.title %>」
		</p>
		 
		<p class="bg-light border mx-5">
		  <strong>本文:</strong>
		  <%= @article.text %>
		</p>
		 
		<h3 class="text-center mx-5 mt-5">コメント</h3>
		<%= render @article.comments %>
		 
		<h3 class="text-center mx-5 mt-5">コメント追加</h3>
		<%= render "comments/form" %>
		 
		<%= link_to 'Edit Article', edit_article_path(@article) %> |
	<%= link_to 'Back to Articles', articles_path %>
</div>