<div class="container-sub">
	<h2 class="text-center text-dark pt-3"><%= @article.created_at.strftime('%Y年%m月%d日 %H:%M') %>の投稿</h2>

		<p class="bg-light border mx-5">
		  <strong>タイトル:</strong>
		  「<%= @article.title %>」
		</p>

		<p class="bg-light border mx-5">
		  <strong>本文:</strong>
		  <%= @article.text %>
		</p>

		<h3 class="text-center mx-5 mt-5">コメント</h3>
		<%= render @article.comments %>
		<% if Like.find_by(user_id: @current_user.id, article_id: @article.id) %>
        	<%= link_to("/likes/#{@article.id}/destroy", {method: "post"}) do %>
        		<i class="fas fa-heart liked-icon"></i>
        	<% end %>
        <% else %>
        	<%= link_to("/likes/#{@article.id}/create", {method: "post"}) do %>
        		<span class="far fa-heart like-icon"></span>
        	<% end %>
        <% end %>


		<h3 class="text-center mx-5 mt-5">コメント追加</h3>
		<%= render "comments/form" %>
		<p class="text-center">
		<%= link_to '編集', edit_article_path(@article) %> |
		<%= link_to '記事一覧に戻る', articles_path %>
		</p>
</div>