<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta  name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <nav class="navbar navbar-expand-sm navbar-light bg-white sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/logo2.png" id="logo"></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" href="#Navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <%if session[:user_id] %>
            <div class="collapse navbar-collapse" id="Navbar">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item nav-link"><%= @current_user.name %></li>
                      <li class="nav-item nav-link"><%= link_to '投稿一覧', articles_path, class: 'text-dark' %></li>
                      <li class="nav-item nav-link"><%= link_to '新規投稿', new_article_path, class: 'text-dark'  %></li>
                      <li class="nav-item nav-link"><%= link_to 'ユーザー一覧', users_index_path, class: 'text-dark'  %></li>
                      <li class="nav-item nav-link"><%= link_to 'ログアウト', logout_path, class: 'text-dark'  %></li>
                  </ul>
            </div>
        <% else %>
            <div class="collapse navbar-collapse" id="menu">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link"><%= link_to '新規登録', signup_path, class: 'text-dark'  %></li>
                    <li class="nav-item nav-link"><%= link_to 'ログイン', login_path, class: 'text-dark'  %></li>
                  </ul>
            </div>
        <% end %>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
